.container {
  display: grid;
  // height: 1100px;
  max-width: 1600px;
  margin: 0px auto;

  grid-template-columns: 230px auto 300px;
  grid-template-areas:
  "category content cartMenu";
  align-items: start;
  @media screen and (max-width: 800px) {
    grid-template-columns: 100%;
    grid-template-areas:
    "shopping-cart"
    "mobile-menu";
    grid-template-rows: auto auto;
    padding-left: 3%;
    padding-right: 3%;
  }
}
